.preview {
  min-height: 480px;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  display: block;
}

mat-panel-title {
  flex-basis: auto !important;
}
