<ng-container *ngIf="!data">
  <h1 mat-dialog-title>Confirm logout? </h1>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
  </div>
</ng-container>
<ng-container *ngIf="data?.url">
    <div class="preview" [style.backgroundImage]="'url(' + data.url + ')'"></div>
    <!-- <img class="" style="max-width: 100%;height: auto;" [src]="data"/> -->
</ng-container>

<ng-container *ngIf="data?.reset">
  <h1 mat-dialog-title>Clear Form? </h1>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
  </div>
</ng-container>

<ng-container *ngIf="data?.settings">
  <h1 mat-dialog-title>Options</h1>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Report {{data.heroName}}
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>report</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline">
        <textarea rows="4" matInput placeholder="Reasons for reporting"></textarea>
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="primary" (click)="reportHero()">Send</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>


