<ng-container *ngIf="!data">
  <h1 mat-dialog-title>Confirm logout? </h1>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
  </div>
</ng-container>
<ng-container *ngIf="data?.url">
    <div class="preview" [style.backgroundImage]="'url(' + data.url + ')'"></div>
</ng-container>

<ng-container *ngIf="data?.reset">
  <h1 mat-dialog-title>Clear Form? </h1>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Continue</button>
  </div>
</ng-container>

<ng-container *ngIf="data?.Unverified">
  <h1 mat-dialog-title>Must be logged in to report.</h1>
</ng-container>

<ng-container *ngIf="data?.settings">
  <h2 mat-dialog-title>Reasons For Reporting</h2>
  <mat-form-field appearance="outline">
    <textarea rows="4" matInput placeholder="" required #report></textarea>
  </mat-form-field>

  <mat-action-row>
      <button mat-flat-button style="margin-right: 10px;" color="primary" (click)="close()">Cancel</button>
      <button mat-flat-button [disabled]="!report.value" color="warn" (click)="showReported(report.value)">Send Report</button>
  </mat-action-row>
</ng-container>

<ng-container *ngIf="data?.forgotPassword">
  <h2 mat-dialog-title>Enter email</h2>
  <mat-form-field appearance="outline">
    <input rows="4" matInput placeholder="" required #email>
  </mat-form-field>

  <mat-action-row>
      <button mat-flat-button style="margin-right: 10px;" color="secondary" (click)="close()">Cancel</button>
      <button mat-flat-button [disabled]="!email.value" color="primary" (click)="changePassword(email.value)">Change Password</button>
  </mat-action-row>
</ng-container>

<ng-container *ngIf="data?.deleteHero">
  <h2 style="color:red;" mat-dialog-title>Enter {{data.heroName.toUpperCase()}} to confirm delete.</h2>
  <mat-form-field appearance="outline">
    <mat-label>Hero Name</mat-label>
    <input rows="4" matInput placeholder="" required #hero>
  </mat-form-field>

  <mat-action-row>
      <button mat-flat-button style="margin-right: 10px;" color="secondary" (click)="close()">Cancel</button>
      <button mat-flat-button [disabled]="hero.value !== data.heroName.toUpperCase()"
              (click)="deleteHero(data.heroName)"
              color="warn">Delete Hero</button>
  </mat-action-row>
</ng-container>


