<footer>
  <div id="hit-footer">
    <div class="grid-container">
      <div class="grid-item" style="align-self: center;">
        <p class="footer-item">
          "Always remember: Never accept the world as it appears to be. Dare to see it for what it could be."
        </p>
        <p class="footer-item" style='float:center; padding: 0;'>
            ~Harold Winston
          </p>
      </div>
    </div>
    <div class="grid-container" style="padding-bottom: 30px;">
      <div class="grid-item">
        <a href="https://github.com/Davatata" target="_blank">
          <button mat-fab color="" class="icon-bg" style="margin:0 10px;">
              <fa-icon style="font-size: xx-large;" [icon]="['fab', 'github']"></fa-icon>
          </button>
        </a>
        <a href="https://www.linkedin.com/in/david-tataryan/" target="_blank">
          <button mat-fab color="" class="icon-bg" style="margin:0 10px;">
              <fa-icon style="font-size: xx-large;" [icon]="['fab', 'linkedin']"></fa-icon>
          </button>
        </a>
        <a href="https://twitter.com/davatata" target="_blank">
          <button mat-fab color="" class="icon-bg" style="margin:0 10px;">
              <fa-icon style="font-size: xx-large;" [icon]="['fab', 'twitter']"></fa-icon>
          </button>
        </a>

      </div>
    </div>
  </div>
</footer>
