<footer>
  <div id="hit-footer">
    <div class="grid-container">
      <div class="grid-item" style="align-self: center; padding-top: 2em;">
        <a class="footer-router-link" [routerLink]="['/home']">HOME</a>
        <span class="footer-link-divider"> | </span>
        <ng-container *ngIf="httpService.user$ | async; else notLoggedIn">
          <a class="footer-router-link" [routerLink]="['/hero-create']">CREATE HERO</a>
          <span class="footer-link-divider"> | </span>
        </ng-container>
        <ng-template #notLoggedIn>
          <a [routerLink]="['/login']" class="footer-router-link">SIGN IN</a>
          <span class="footer-link-divider"> | </span>
          <a [routerLink]="['/signup']" class="footer-router-link">SIGN UP</a>
          <span class="footer-link-divider"> | </span>
        </ng-template>
        <a class="footer-router-link" [routerLink]="['/gallery']">GALLERY</a>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-item" style="align-self: center;">
        <p class="footer-item" style="padding-top:0;">
          "Always remember: Never accept the world as it appears to be. Dare to see it for what it could be."
        </p>
        <p class="footer-item" style='float:center; padding: 0;'>
            ~Harold Winston
          </p>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item">
        <a href="https://github.com/Davatata" aria-label="github" target="_blank" rel="noopener">
          <button mat-mini-fab color="" aria-label="github" class="icon-bg" style="margin:0 10px;">
              <fa-icon style="font-size: large;" [icon]="['fab', 'github']"></fa-icon>
          </button>
        </a>
        <a href="https://www.linkedin.com/in/david-tataryan/" aria-label="linkedin" target="_blank" rel="noopener">
          <button mat-mini-fab color="" class="icon-bg" aria-label=linkedin style="margin:0 10px;">
              <fa-icon style="font-size: large;" [icon]="['fab', 'linkedin']"></fa-icon>
          </button>
        </a>
        <a href="https://twitter.com/davatata" target="_blank" aria-label="twitter" rel="noopener">
          <button mat-mini-fab color="" class="icon-bg" aria-label="twitter" style="margin:0 10px;">
              <fa-icon style="font-size: large;" [icon]="['fab', 'twitter']"></fa-icon>
          </button>
        </a>
      </div>
    </div>
    <div class="grid-container" style="padding-bottom: 30px;">
      <div class="grid-item">
      </div>
    </div>
  </div>
</footer>
