<div class="container">
  <!-- <h1 *ngIf="httpService.user$ | async">Welcome {{ (httpService.user$ | async)?.email }}!</h1>
  <h1 *ngIf="!(httpService.user$ | async)" style="text-align: center;">Not logged in.</h1> -->
    <div class="row">
      <h2 class="hit-header">"THE WORLD COULD ALWAYS USE MORE HEROES."</h2>
    </div>
    <div class="row">
      <div class="col col-sm-12 col-lg-6">
        <div class="hero-pose-image"></div>
      </div>
      <!-- <div class="col col-sm-12 col-lg-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam totam hic quo veritatis praesentium aliquid vel tenetur aut? Eum fuga pariatur, sapiente, harum exercitationem dolorum omnis quo earum ab, consequatur recusandae beatae neque corporis quam ducimus deserunt tempora ex? Culpa!</div> -->
    </div>
</div>
