<div class="container" style="min-height: 530px; max-height: 1000px;">
  <!-- <h1 *ngIf="httpService.user$ | async">Welcome {{ (httpService.user$ | async)?.email }}!</h1>
  <h1 *ngIf="!(httpService.user$ | async)" style="text-align: center;">Not logged in.</h1> -->
    <div class="row">
      <h2 class="hit-header">"THE WORLD COULD ALWAYS USE MORE HEROES."</h2>
    </div>
    <div class="row">
      <div class="">
        <div class="hero-pose-image hero-image-tracer"></div>
      </div>
    </div>
</div>

<!-- <div class="home-grid-container" style="padding: 0 !important;">
  <div class="grid-item" style="align-self:center;">
    <div class="information">
      Save your dashing hero designs and share them with the world.
    </div>
  </div>
</div> -->

<!-- <div class="home-grid-container" style="height:60vh; padding: 0 !important;">
  <div class="grid-item" style="align-self:center;">
    <div class="information">
      Fill out the hero creation form and your hero will fly to the public gallery.
    </div>
  </div>
</div> -->

<!-- <div class="home-grid-container" style="padding: 0 !important;">
  <div class="grid-item" style="background-color:white;">
    <div class="hero-art">
      <div class="hero-pose-image hero-image-genji" style="background-position: center;"></div>
    </div>
  </div>
  <div class="grid-item" style="background-color:white;">
    <div class="hero-art">
      <div class="hero-pose-image hero-image-mercy" style="background-position: center;"></div>
    </div>
  </div>
</div> -->
