<a style="text-decoration: none; cursor: pointer;"
   (click)="httpService.getHero(hero.userId + '/' + hero.heroId)">
  <mat-card class="hit-display-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="hit-card-image"></div> -->
      <mat-card-title>{{hero.heroName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image
    style="background-color:lightgray" [src]="hero.design" [alt]="hero.heroName">
    <mat-card-content>
      <p *ngIf="hero.heroDetailDescription.length < 100">
        {{hero.heroDetailDescription}}</p>
      <p *ngIf="hero.heroDetailDescription.length >= 100">
        {{hero.heroDetailDescription.split(' ').slice(0,20).join(' ')}}...</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>VIEW</button>
    </mat-card-actions> -->
  </mat-card>
</a>
