<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
<div *ngIf="httpService.hero$ | async as hero; else loading">
  <div class="bgImage">
    <div class="grid-container">
      <div class="grid-item">
        <h1 #heroTop class="heroTopName">{{hero.heroName}}</h1>
      </div>
    </div>
    <div class="container">
      <div class="mobile-hero-image">
        <div class="hero-pose-image" [style.backgroundImage]="'url(' + hero.design + ')'"></div>
      </div>
      <mat-tab-group  mat-stretch-tabs class="hit-stretched-tabs"
                      [backgroundColor]="bgColor">
        <mat-tab label="Overview" class="hit-tab-label">
          <div class="tab-body">

          <!-- edit button -->
          <div *ngIf="httpService.firebaseAuth.auth?.currentUser?.uid === httpService.params['u']">
            <div class="button-row">
              <button (click)="editHero()" style="margin-right: 10px;" mat-raised-button>EDIT HERO</button>
              <button (click)="deleteHero(hero.heroName)" mat-raised-button color="warn">DELETE HERO</button>
            </div>
          </div>

            <div class="grid-detail-container">
              <div class="grid-detail-item text-left">
                  <p class="blue-font upper">Role</p>
                  <p class="role upper">{{hero.role}} <mat-icon mat-list-icon svgIcon="{{hero.role}}"></mat-icon></p>
              </div>
              <div class="grid-detail-item text-right">
                  <h2 class="blue-font upper">Difficulty</h2>
                  <span class="star"></span>
                  <span [ngClass]="{'star': true, 'm-empty': hero.difficulty < 2}"></span>
                  <span [ngClass]="{'star': true, 'm-empty': hero.difficulty < 3}"></span>
              </div>
            </div>

            <p class="heroDescription pre-wrap">{{ hero.heroDetailDescription }}</p>
            <mat-divider></mat-divider>
            <h2 class="blue-font upper">Abilities</h2>

            <!-- List of added abilities -->
            <div class="ability-grid-container"
                *ngFor="let ability of hero.abilities; let i = index">
              <div class="ability-grid-icon" style="background-color: rgba(19, 42, 77, 0.1);">
                <img class="hit-ability-icon mat-list-icon"
                      src="{{ability.icon}}"
                      alt="{{ability.name}}">
              </div>
              <div class="ability-grid-card" style="text-align: left; width:100%;">
                <mat-card>
                  <mat-card-header>
                    <mat-card-title><b class="ability-name">{{ability.name}}</b></mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <p class="ability-description">{{ability.description}}
                    </p>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Story">
          <div class="tab-body">
            <h2 class="blue-font upper">Biography</h2>
            <mat-list id="bio_list">
              <mat-list-item>
                <mat-icon class="bio-icon" mat-list-icon svgIcon="NAME"></mat-icon>
                Real Name: {{hero.realName}}, Age: {{hero.age}}
              </mat-list-item>
              <mat-list-item>
                <mat-icon class="bio-icon" mat-list-icon svgIcon="OCCUPATION"></mat-icon>
                Occupation: {{hero.occupation}}
              </mat-list-item>
              <mat-list-item>
                <mat-icon class="bio-icon" mat-list-icon svgIcon="BASE"></mat-icon>
                Base of operations: {{hero.baseOfOperations}}
              </mat-list-item>
              <mat-list-item>
                <mat-icon class="bio-icon" mat-list-icon svgIcon="AFFILIATION"></mat-icon>
                Affiliation: {{hero.affiliation}}
              </mat-list-item>
              <mat-list-item><p class="hero-bio-quote">"{{hero.heroQuote}}"</p></mat-list-item>
              <mat-list-item class="pre-wrap backstory">{{hero.heroBackstory}}</mat-list-item>
            </mat-list>
          </div>
        </mat-tab>
      </mat-tab-group>

      <!-- Add settings button below here -->

      <div class="large-hero-image">
        <div class="hero-pose-image" [style.backgroundImage]="'url(' + hero.design + ')'"></div>
      </div>
    </div>
  </div>
  <div *ngIf="hero.art && hero.art.length > 0">
    <div class="additional-art-container">
      <div class="grid-item">
        <h1 class="">Hero Art</h1>
      </div>
    </div>
    <div class="additional-art-container">
      <div class="grid-item">
        <section>
          <mat-slide-toggle
              (change)="grid = !grid;">
            Grid
          </mat-slide-toggle>
        </section>
      </div>
    </div>

    <div *ngIf="grid" class="gallery-art-container" style="margin: 0 0 2em 0">
      <div *ngFor="let artItem of hero.art | keyvalue" class="grid-item">
        <div (click)="openDialog(artItem.value)" class="art-img" [style.backgroundImage]="'url(' + artItem.value + ')'"></div>
      </div>
    </div>
    <div *ngIf="!grid" class="gallery-art-container" style="margin: 0 0 2em 0">
        <slideshow [height]="'70vh'"
            [minHeight]="'300px'"
            [autoPlay]="false"
            [showArrows]="true"
            [imageUrls]="hero.art"
            [backgroundSize]="'contain'"
            [backgroundPosition]="'center'"
            [showDots]="true"
            [dotColor]="'#dedede'"
            [autoPlayWaitForLazyLoad]="false">
        </slideshow>
    </div>
  </div>
</div>
