.mat-list-item {
  height: auto !important;
  margin-bottom: 10px;
  color: white;
}

.container {
  padding: 0 30px 30px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 900px)  {
  .large-hero-image {
    display: none;
  }
  .mobile-hero-image {
    display: block;
  }
  .container {
    padding: 30px 0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
  }
  .grid-detail-container, .grid-abilities {
    grid-template-columns: 1fr !important;
  }
  .grid-detail-item {
    text-align: left !important;
  }
  .heroTopName {
    font-size: 2rem !important;
  }
}

@media screen and (min-width: 900px) {
  .large-hero-image {
    display: block;
  }
  .mobile-hero-image {
    display: none;
  }
  .hero-pose-image {
    height: 90vh;
  }
}

.hit-stretched-tabs {
  background-color: #132a4dd9;
  overflow: hidden !important;
  color: white;
}
.mat-line {
  white-space: unset !important;
}

.pre-wrap {
  white-space: pre-wrap;
}

.mat-tab-body-wrapper {
  padding: 12px;
}

.mat-tab-header {
  background-color: white !important;
}

.hit-tab-label {
  color: orange;
}

.blue-font {
  margin: 10px 0;
  color: #00c3ff;
  font-weight: bold;
  font-size: 1.3em;
}

.role {
  font-size: 2em;
  margin: 0;
  font-weight: bold;
  font-family: roboto;
  font-style: italic;
}

.upper {
  text-transform: uppercase;
}

.grid-detail-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.grid-detail-item {
  padding: 10px;
  font-size: 1em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

 /* from playoverwatch */
.heroTopName {
  position: relative;
  z-index: 0;
  text-align: center;
  color: #F6F6F6;
  background: -webkit-linear-gradient(#F6F6F6 50%, rgba(246, 246, 246, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Big Noodle Too", impact, sans-serif;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: normal;
  font-variant: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 10px 0;
}


.star {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../../assets/imgs/star.png');
  background-size: cover;
}

.star.m-empty {
  background-position: 0 -32px;
}

.heroDescription {
  border-left: 6px solid #00c3ff;
  padding-left: 18px;
  margin-left: 6px;
  margin-top: 18px;
  line-height: 1.6;
}

.bgImage {
  background-size: cover;
  background-image: url(https://d3hmvhl7ru3t12.cloudfront.net/img/ow-fractal-bg-560a8b12481e653dd68127bfe7ab850c0ffd8b0ed6b591e329140a72f91b5f03f601d36ff54af87c62eac7cb743b58de7917f4c381c03b7ff92d22ffcec97ec2.jpg);
}

.hero-bio-quote {
  font-family: "Big Noodle Too", impact, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  color: #00c3ff;
  letter-spacing: 0.5px;
}

.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none;
}

.grid-abilities {
  padding: 30px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.ability-grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgba(19, 42, 77, 0.2);
  margin-bottom:5px;
  /* grid-template-rows: 400px; */
}

.ability-grid-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}

@media(max-width:500px) {
  .ability-grid-container {
    grid-template-columns: 1fr;
  }
  .hit-ability-icon {
    /* max-width: 70px; */
    max-width: 20%;
  }
  .ability-grid-icon {
    width: -webkit-fill-available;
    height: 60px;
    margin: 0 auto;
  }
  .mat-card-header-text {
    margin: 0 auto !important;
  }
  .ability-description {
    text-align: center;
  }
  .mat-card {
    background-color: rgba(19, 42, 77, 0.1) !important;
  }
  .ability-name {
    font-size: 1.6em !important;
  }
  .mat-card-header {
    display: flex;
    flex-direction: row;
    flex-flow: column;
    text-align: center;
  }
}

.mat-card {
  color: white;
  background: transparent;
  box-shadow: none !important;
}

.no-margin {
  margin: 0 !important;
}

.ability-description {
  line-height: 1.6;
  font-size: 1.1em;
}

.ability-name {
  text-transform: uppercase;
  font-size: 1.3em;
}

/* .icon-container {
  background-color: rgba(64, 82, 117, 0.4);
  border-radius: 50%;
  border: 2px solid gray;
  padding: 15px;
  width: 60px;
  height: 60px;
} */

/* From playoverwatch */
.additional-art-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0 10px;
  background: white;
  font-family: "Big Noodle Too", impact, sans-serif;
  font-size: 1rem;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.art-img {
  display: block;
  height: 200px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.art-img:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  cursor: pointer;
}
