<div class="bgImage" *ngIf="httpService.hero$ | async as hero">
  <div class="grid-container">
    <div class="grid-item">
      <h1 class="heroTopName">{{hero.heroName}}</h1>
    </div>
  </div>
  <div class="container">
    <div class="mobile-hero-image">
      <img [src]="hero.design" style="width: 100%; align-self: start;" alt="hero.design">
    </div>
    <mat-tab-group  mat-stretch-tabs class="hit-stretched-tabs"
                    [backgroundColor]="bgColor">
      <mat-tab label="Overview" class="hit-tab-label">
        <div class="tab-body">
          <p class="blue-font">Role:</p>
          <p class="role">{{hero.role}} <mat-icon mat-list-icon svgIcon="{{hero.role}}"></mat-icon></p>
          <p class="blue-font">Difficulty: {{ hero.difficulty }}</p>
          <p class="heroDescription">Description:{{ hero.heroDetailDescription }}</p>
          <h2 class="blue-font">Abilities</h2>
          <mat-list role="list" class="ability-bg">
            <mat-list-item style="color:white;" *ngFor="let ability of hero.abilities">
              <div>
                <img class="hit-ability-icon mat-list-icon" src="{{ability.icon}}" alt="{{ability.name}}">
              </div>
              <div style="overflow: hidden;">
                <h4 mat-line>{{ability.name}}</h4>
                <p mat-line> {{ability.description}} </p>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
      <mat-tab label="Story">
        <div class="tab-body">
          <h2 class="blue-font">Biography</h2>
          <mat-list id="bio_list">
            <mat-list-item>Real name: {{hero.realName}}, Age: {{hero.age}}</mat-list-item>
            <mat-list-item>Occupation: {{hero.occupation}}</mat-list-item>
            <mat-list-item>Base of operations: {{hero.baseOfOperations}}</mat-list-item>
            <mat-list-item>Affiliation: {{hero.affiliation}}</mat-list-item>
            <mat-list-item class="hero-bio-quote">{{hero.heroQuote}}</mat-list-item>
            <mat-list-item>{{hero.heroBackstory}}</mat-list-item>
          </mat-list>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="large-hero-image">
      <img [src]="hero.design" style="width: 100%; align-self: start;" alt="hero.design">
    </div>
  </div>
</div>

