/* .example-radio-group {
  display: inline-flex;
  flex-direction: column;
} */

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

button {
  /* background-color: lightgreen; */
  color: black;
}

.form-container {
  display: grid;
  padding: 1em;
  max-width: 850px;
  margin: auto;
  /* justify-content: space-between; */
}

mat-form-field {
  flex: 1;
}

.text-center {
  text-align: center;
}



.hit-input-item {
  width: 100%;
}

#description, #backstory {
  /* resize: none;
	min-height: 100px;
	padding: 5px;
	overflow: hidden; */
	box-sizing: border-box;
}

#abilityArea {
  background-color: rgba(19, 42, 77, 0.85);
  padding: 15px;
}

.hit-hero-ability {
  /* margin-top: 22px;
  padding: 20px 12px 12px 12px; */
  background-color: rgba(19, 42, 77, 0.2);
  /* overflow: hidden;
  position: relative; */
}

.w-100 {
  width: 100%;
}

mat-card {
  /* height: -webkit-fill-available; */
  box-shadow: none !important;
  /* width: 100%; */
  /* padding: 10px 10px 0 10px; */
  border-right: 1px solid black;
}

.ability-grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: 400px; */
}
.ability-grid-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hit-icon-border {
  border: solid 1px gray;
  border-radius: 50%;
}

.mat-card-header-text {
  margin: 0 !important;
}
