<div class="form-container data-bg">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <h2 class="text-center">Character Overview</h2>

    <div class="grid-container">
      <div class="grid-item">
        <mat-form-field class="hit-input-item">
          <input matInput name="heroName" placeholder="Hero Name" [(ngModel)]="currentHero.heroName">
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-form-field class="hit-input-item">
          <mat-select placeholder="Role" name="role" [(ngModel)]="currentHero.role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-form-field class="hit-input-item">
          <mat-select placeholder="Difficulty" name="difficulty" [(ngModel)]="currentHero.difficulty">
            <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.value">
              {{difficulty.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-item">
        <mat-form-field class="hit-input-item">
          <textarea
            #description
            id="description"
            name="description"
            matInput
            placeholder="Leave a comment"
            [(ngModel)]="currentHero.heroDetailDescription"
            (keyup)="resize()"></textarea>
        </mat-form-field>
      </div>
    </div>

    <div style="width:100%; margin-bottom: 10px;">
      <button mat-raised-button (click)="addAbility()" color="primary">+ Add hero ability</button>
      <button mat-raised-button
              (click)="currentHero.abilities.pop();"
              color="warn">- Remove ability</button>
    </div>

    <mat-grid-list *ngFor="let ability of currentHero.abilities" cols="5" rowHeight="40px" style="margin-bottom:5px;">
      <mat-grid-tile
          style="background-color: #969696"
          [colspan]="1"
          [rowspan]="3">
          <img class="hit-ability-icon mat-list-icon" src="{{ability.icon}}" alt="{{ability.name}}">
      </mat-grid-tile>
      <mat-grid-tile
          style="background-color: #e6e6e6; text-align: left;"
          [colspan]="4"
          [rowspan]="1">
          <!-- <h4 style="width: 100%; padding-left: 10px; text-align: left;">{{ability.name}}</h4> -->
          <input style="width: 100%; padding-left: 10px; text-align: left;"
                  matInput name="abilityName"
                  placeholder="Ability Name"
                  [(ngModel)]="ability.name">
      </mat-grid-tile>
      <mat-grid-tile
          style="background-color: #d4d4d4; text-align: left;"
          [colspan]="4"
          [rowspan]="2">
          <!-- <p  style="width: 100%; padding-left: 10px; text-align: left;">{{ability.description}}</p> -->
          <textarea
            name="abilityDescription"
            style="width: 100%; padding-left: 10px; text-align: left;"
            matInput
            placeholder="Description"
            [(ngModel)]="ability.description"></textarea>
        </mat-grid-tile>
    </mat-grid-list>

    <!-- <mat-icon class="star">star</mat-icon>
    <mat-icon class="empty_star">star_border</mat-icon>
    <button type="submit" mat-raised-button color="" [disabled]="!heroForm.form.valid">Submit</button> -->
  </form>
</div>

