/* .example-radio-group {
  display: inline-flex;
  flex-direction: column;
} */

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

button {
  background-color: lightgreen;
  color: black;
}

.form-container {
  display: grid;
  padding: 1em;
  max-width: 850px;
  margin: auto;
  /* justify-content: space-between; */
}

mat-form-field {
  flex: 1;
}

.text-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: auto auto auto; */
  padding: 0 10px;
  /* background-color: #354967; */
}

.grid-item {
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

.hit-input-item {
  width: 100%;
}

#description {
  /* resize: none;
	min-height: 100px;
	padding: 5px;
	overflow: hidden; */
	box-sizing: border-box;
}

#abilityArea {
  background-color: rgba(19, 42, 77, 0.85);
  padding: 15px;
}

.hit-hero-ability {
  /* margin-top: 22px;
  padding: 20px 12px 12px 12px; */
  background-color: rgba(19, 42, 77, 0.2);
  /* overflow: hidden;
  position: relative; */
}

.w-100 {
  width: 100%;
}
