<div class="form-container data-bg">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <h2 class="text-center">Character Overview</h2>
    <div class="grid-container">

      <div class="grid-item">
        <mat-form-field>
          <mat-select placeholder="Role" name="role" [(ngModel)]="currentHero.role">
            <mat-option *ngFor="let role of roles" [value]="role">
              {{role}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="grid-item">
        <mat-form-field>
          <mat-select placeholder="Difficulty" name="difficulty" [(ngModel)]="currentHero.difficulty">
            <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty.value">
              {{difficulty.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="grid-item">

      </div>
    </div>


    <!-- <mat-icon class="star">star</mat-icon>
    <mat-icon class="empty_star">star_border</mat-icon>
    <button type="submit" mat-raised-button color="" [disabled]="!heroForm.form.valid">Submit</button> -->
  </form>
</div>

