/* .example-radio-group {
  display: inline-flex;
  flex-direction: column;
} */

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

button {
  background-color: lightgreen;
  color: black;
}

.form-container {
  display: grid;
  padding: 1em;
  max-width: 850px;
  margin: auto;
  /* justify-content: space-between; */
}

mat-form-field {
  flex: 1;
}

.text-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: auto auto auto; */
  padding: 10px;
  /* background-color: #354967; */
}

.grid-item {
  width: 45%;
  padding: 20px;
  font-size: 1em;
  text-align: center;
}

.mat-form-field-flex {
  background-color: white;
  border-radius: 5px;
}
