<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    id="mainNavbar"
    #drawer
    class="sidenav"
    [ngClass]="{hidden: !(isHandset$ | async)}"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary" style="padding:0px; ">
        <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav close icon">close</mat-icon>
        </button>
        <span style="padding: 0px 25px 0 0;
                      width: -webkit-fill-available;
                      text-align: center;
                      letter-spacing: 10px;">HIT</span>

    </mat-toolbar>
    <mat-nav-list style="padding: 0;"
      *ngIf="httpService.user$ | async" >
      <a [routerLink]="['/hero-create']"
        routerLinkActive="router-link-active"
        mat-list-item
        (click)="httpService.clearUnsavedHero(); drawer.toggle()"
        class="hit-nav-button">CREATE A HERO</a>
      <a [routerLink]="['/hero-details']"
        [queryParams]="httpService.params"
        routerLinkActive="router-link-active"
        mat-list-item
        (click)="drawer.toggle()"
        class="hit-nav-button" *ngIf="httpService.hero$ | async ">HERO DETAILS</a>
      <a [routerLink]="['/gallery']"
        routerLinkActive="router-link-active"
        mat-list-item
        (click)="drawer.toggle()"
        class="hit-nav-button">GALLERY</a>
      <a
        mat-list-item
        (click)="drawer.toggle()"
        class="hit-nav-button">
        <button
          class="logout-button"
          mat-flat-button
          color="warn"
          (click)="openDialog()"
          >LOG OUT</button></a>
    </mat-nav-list>
    <mat-nav-list style="padding: 0;"
      *ngIf="!(httpService.user$ | async)">
      <a [routerLink]="['/login']"
         routerLinkActive="router-link-active"
         mat-list-item
         (click)="drawer.toggle()"
         class="hit-nav-button">SIGN IN</a>
      <a [routerLink]="['/signup']"
         routerLinkActive="router-link-active"
         mat-list-item
         (click)="drawer.toggle()"
         class="hit-nav-button">SIGN UP</a>
      <a [routerLink]="['/gallery']"
         routerLinkActive="router-link-active"
         mat-list-item
         (click)="drawer.toggle()"
         class="hit-nav-button">GALLERY</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- The slideshow has z-index of 100 on mobile -->
    <mat-toolbar style="z-index: 101 !important;" color="primary">
      <mat-toolbar-row>
        <button
          style="flex:5%"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <div style="flex:5%" *ngIf="isHandset$ | async"></div>

        <span style="flex:80%; text-align: center" *ngIf="isHandset$ | async">
          <a [routerLink]="['/home']"
            routerLinkActive="router-link-active"
            mat-list-item
            class="hit-main-nav-home">Heroes in Training</a>
        </span>
        <span style="flex:80%; text-align: left" *ngIf="!(isHandset$ | async)">
          <a [routerLink]="['/home']"
            routerLinkActive="router-link-active"
            mat-list-item
            class="hit-main-nav-home">Heroes in Training</a>
        </span>
        <div style="flex:5%" *ngIf="isHandset$ | async"></div>
        <div style="flex:5%" *ngIf="isHandset$ | async"></div>
        <div *ngIf="!(isHandset$ | async)">
          <mat-nav-list style="display: inline-flex; padding: 0 15px;"
            *ngIf="!(httpService.user$ | async)">
            <a [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              mat-list-item
              (click)="drawer.toggle()"
              class="hit-main-nav-button">SIGN IN</a>
            <a [routerLink]="['/signup']"
              routerLinkActive="router-link-active"
              mat-list-item
              (click)="drawer.toggle()"
              class="hit-main-nav-button">SIGN UP</a>
            <a [routerLink]="['/gallery']"
              routerLinkActive="router-link-active"
              mat-list-item
              (click)="drawer.toggle()"
              class="hit-main-nav-button">GALLERY</a>
          </mat-nav-list>
          <mat-nav-list style="display: inline-flex; padding: 0 15px;"
            *ngIf="httpService.user$ | async">
            <a [routerLink]="['/hero-create']"
            routerLinkActive="router-link-active"
            mat-list-item
            (click)="httpService.clearUnsavedHero(); drawer.toggle()"
            class="hit-main-nav-button">CREATE A HERO</a>
            <a [routerLink]="['/hero-details']"
            [queryParams]="httpService.params"
            routerLinkActive="router-link-active"
            mat-list-item
            (click)="drawer.toggle()"
            class="hit-main-nav-button" *ngIf="httpService.hero$ | async ">HERO DETAILS</a>
            <a [routerLink]="['/gallery']"
            routerLinkActive="router-link-active"
            mat-list-item
            (click)="drawer.toggle()"
            class="hit-main-nav-button">GALLERY</a>
          <a
            mat-list-item
            (click)="drawer.toggle()"
            class="hit-nav-button">
            <button
              class="logout-button"
              mat-flat-button
              color="warn"
              (click)="openDialog();">LOG OUT</button></a>
          </mat-nav-list>
        </div>

      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
