/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.ow_orange {
  color: #f9ab4f;
}


.hit-home-grid-header {
  font-family: "Big Noodle Too", impact, sans-serif;
  font-size: 1.6em;
  text-align: center;
  font-style: italic;
  /* padding: 2em 5px 0 5px; */
  font-weight: normal;
  font-variant: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #ffbe6a;
  word-spacing: 5px;
  letter-spacing: 2px;
  text-shadow: 2px 1px 2px black;
}

/* From: https://playoverwatch.com */
.hero-detail-role-icon {
  display: inline-block;
  vertical-align: text-top;
  margin-left: 14px;
  fill: #F6F6F6;
  height: 24px;
  width: 24px;
}

.icon {
  height: 24px;
  fill: #F6F6F6;
  stroke: #F6F6F6;
  stroke-width: 0;
}

.ability-bg {
  background-color: #354967;
}

.star {
  color: #ffe75b;
}

.empty_star {
  color: slategray;
}

.authButton {
  background-color: #ffc37d;
}

.hero-detail-role-icon {
  fill: white;
}

.hit-ability-icon {
  /* max-width: 70px; */
  width: 100%;
  height: auto;
}

@media screen and (min-width: 500px) {
  .hit-ability-icon {
    max-width: 70px;
    /* width: 100%; */
    height: auto;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-columns: auto auto auto; */
  padding: 0 10px;
  /* background-color: #354967; */
}

.grid-item {
  padding: 10px;
  font-size: 1em;
  text-align: center;
}

.hero-ability-icon-bg {
  position: relative;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #002b8066;
  border: 2px solid rgba(246, 246, 246, 0.4);
}

img.hero-ability-icon {
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  max-height: 55%;
  max-width: 150%;
}

.mat-tab-label-active{
  background-color: #334463 !important;
  color: white !important;
  opacity: 1 !important;
}

.mat-tab-label {
  color: black;
  background-color: white;
  opacity: 1 !important;
}

.mat-tab-label-content {
  font-size: 1.4em !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  font-family: "FuturaNo2D", "century gothic", arial, sans-serif !important;
}

.tab-body{
  overflow: -webkit-paged-y;
  padding: 15px;
}

.hero-pose-image {
  display: block;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.mat-card-header-text:first-child {
  margin: 0 !important;
}

.art-img {
  display: block;
  height: 200px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.art-img:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  cursor: pointer;
}

.no-box-shadow {
  box-shadow: none !important;
}

.arrow {
  border-top: 2px solid #939393 !important;
  border-left: 2px solid #939393 !important;
}

.credential-link {
  width: 100%;
  margin: 2em 0;
  text-align: center;
  float: right;
}

.credential-link a {
  font-family: sans-serif;
  color: cornflowerblue;
}

.credential-link a:hover {
  text-decoration: underline;
}

.credential-header {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
}

.mat-error {
  text-transform: uppercase;
  font-family: sans-serif;
}

.hit-header {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  padding: 2em 5px 0 5px;
  font-weight: bold;
  font-variant: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  color: white;
  word-spacing: 5px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px black;
}

.hero-bio-icon {
  width: 24px;
  height: 24px;
  fill: #00c3ff;
  float: left;
}

.auth-redirect {
  text-decoration: none;
}

.credential-error {
  text-align: center;
}
